@font-face {
	font-family: "Montserrat";
	src: url("../assets/Montserrat-VariableFont_wght.ttf");
	font-weight: 100 900;
}

* {
	font-family: "Montserrat";
}

:root {
	--dark: #232323;
	--bright: gainsboro;
}

html,
#root,
body,
main {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

*[data-invert] {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: white;
		mix-blend-mode: difference;
		transition: 0.3s;
		pointer-events: none;
	}

	& > * {
		position: relative;
		color: var(--bright);
		z-index: 2;
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;

	@media only screen and (max-width: 700px) {
		display: none;
	}
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--bright);
	//border-left: 1px solid #232323;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
