#header {
	position: fixed;
	z-index: 1;
	display: flex;
	flex-direction: row-reverse;
	width: 100%;

	#links {
		display: flex;
		gap: 0.5rem;
		padding: 10px;
		padding-right: 20px;

		a,
		button {
			transition: filter 0.15s, scale 0.15s;

			&:hover {
				filter: invert(1);
			}

			&:active {
				scale: 0.8;
			}
		}

		#resume {
			display: flex;
			align-items: center;
			border: 0;
			border-bottom: 1px solid var(--bright);
			border-radius: 3px;
			padding-inline: 10px;
			background-color: var(--dark);
			color: var(--bright);
			font-size: 0.9rem;
			font-weight: 600;
			text-decoration: none;
			cursor: pointer;
		}

		a:not(#resume) {
			display: block;
			width: 35px;
			height: 35px;
		}
	}
}
