#menu-button {
	position: fixed;
	z-index: 2;
	right: 10px;
	top: 10px;
	width: 29px;
	padding: 5px;
	background-color: var(--bright);
	cursor: pointer;
	transition: opacity 0.3s;

	rect {
		transition: 0.15s;

		&:nth-of-type(2) {
			opacity: 1;
		}
	}

	&[data-open="true"] {
		rect {
			&:first-of-type {
				transform: translate(28%, 0) rotate(45deg);
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:nth-of-type(3) {
				transform: translate(-41%, 28%) rotate(-45deg);
			}
		}
	}
}
